.box_parent{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}
.box {
    cursor: pointer;
    width: 250px;
    height: 200px;
    border: 3px dashed #cecece;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f2f2f2;
}
.box img{
    width: 50px;
}
p {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    max-width: 220px;
}
input {
    position: absolute;
    top: -100%;
}
button{
    background: rgba(37, 39, 64, 0.69);
    border-radius: 30px;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
}
.basic_img{
    padding: 25px;
    box-shadow: 0 0 10px;
    height: 180px;
}
.err_box{
    display: flex;
    flex-direction: column;
    position: relative;
}
.status_img{
    width: 40px !important;
    position: absolute;
    left: 10px;
    top: 10px;
}
.failed {
    color: red;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position:absolute;
    left: 10px;
    top: 10px;
}