<script setup lang="ts">
import {ref} from "vue";
import upload from "../../../../../Testing vue/testing_vue/src/assets/up-removebg-preview.png"
import {uploadFile} from "@/service/File.service";
import {uploadFileType} from "@/type/FileType";
import {STATUS} from "@/constants/Status";
import {Icons} from "@/constants/Icons";

// ------------------Interface---------------------------------
interface Image {
  url: string;
  status: number | null;
}
// ------------------Variables---------------------------------
const img = ref<Image>({} as Image)
const file = ref<File | null>(null)
const inputRef = ref()
const isLoading = ref(false)
const showBox = ref(true)
const isError = ref(false)

// ------------------Props-------------------------------------
const props = defineProps<{
  maxSize: number
}>()
// ------------------Upload function---------------------------
const handleFileUpload = async (e: any) => {
  file.value = e.target.files[0]
  if(e.target.files[0].size>= props.maxSize){
    isError.value = true
  }
  img.value = {
    url: uploadFileType(e.target.files[0]),
    status: null
  }
  showBox.value = false
}
// ------------------Post function-----------------------------
async function postFile() {
  try {
    if (file.value) {
      const fileSize = (file.value.size / 1024 / 1024).toFixed(1)
      if (+fileSize >= props.maxSize) {
        img.value.status = STATUS.failed
        isError.value = true
      } else {
        isLoading.value = true
        await uploadFile(file.value)
        img.value.status = STATUS.success
        isLoading.value = false

      }
    }
  } catch (e) {
    img.value.status = STATUS.error
  }
}

defineExpose({handleFileUpload})

</script>
<!----------------------------------------------------------------------------------------------------->
<template>
  <div class="box_parent">
    <div v-if="showBox" class="box" @click="inputRef?.click()">
      <img :src="upload" alt=""/>
      <p>CLick to upload or drag and drop SVG, PNG, JPG or GIF</p>
      <h4>Maximum size: {{props.maxSize}} MB</h4>
    </div>
    <input ref="inputRef" type="file" @change="handleFileUpload" value="">
    <div v-if="!showBox" class="err_box">
      <img :src="Icons[img.status!] "
           class="status_img" alt="">
      <span v-if="img.status == STATUS.failed" class="failed">Failed!</span>
      <img :src="img.url!" @click="inputRef?.click()" class="basic_img" data-test-error/>

    </div>
    <button v-if="isLoading" @click="postFile">Uploading</button>
    <button v-else @click="postFile">Upload</button>
  </div>
</template>
<!----------------------------------------------------------------------------------------------------->
<style scoped>
@import "single.css";
</style>