<script setup lang="ts">

import Single from "@/components/single/Single.vue";
import Multiple from "@/components/multiple/Multiple.vue";
import {MAXSIZE} from "@/constants/MaxSize";
import {MultipleCount} from "@/constants/MultipleCount";

</script>

<template>
  <div class="wrapper">
    <Single :max-size="MAXSIZE"/>
      <hr>
    <Multiple :max-size="MAXSIZE" :is-multiple="true" :max-file-count="5" />
  </div>

</template>

<style scoped>
  .wrapper{
    display: flex;
    flex-direction: column;
  }
</style>
