<script setup lang="ts">
import {ref} from "vue";
import upload from "../../../../../Testing vue/testing_vue/src/assets/up-removebg-preview.png";
import {uploadFile} from "@/service/File.service";
import {uploadFileType} from "@/type/FileType";
import {STATUS} from "@/constants/Status";
import {Icons} from "@/constants/Icons";
import {MultipleCount} from "@/constants/MultipleCount";

// --------------------------Interface------------------------------------------
interface Image {
  url: string;
  id: string;
  status: number | null;
  file: File;
}

interface Props {
  maxFileCount: number,
  isMultiple: boolean
  maxSize: number
}

const props = defineProps<Props>()


// const props = withDefaults(
//     defineProps<{
//       maxSize?: number,
//       isMultiple?: boolean,
//     }>(),
//     {
//       multipleCount: MultipleCount,
//       maxSize: 25,
//       isMultiple:true,
//       isMultipleCount:false
//     }
// )

//---------------------------Variable-------------------------------------------
const files = ref<File[]>([])
const inputRef = ref()
const imagesCol = ref<Image[]>([])
const isError = ref(false)
const showUploadBox = ref(true)
const showMulipleCount = ref(false)

// --------------------------Delete function------------------------------------
const handleDelete = (id: string) => {
  imagesCol.value = imagesCol.value.filter(image => image.id !== id)
}
//---------------------------Upload function------------------------------------
const filesUpload = (e: any) => {

  files.value = e.target.files
  const fileImg = (e.target as HTMLInputElement).files
  if (!fileImg) return
  if (imagesCol.value.length >= props.maxFileCount) {
    showMulipleCount.value = true
    return;
  }
  for (let i = 0; i < props.maxFileCount; i++) {
    // fileImg.length instead props.multipleCount
    const id = new Date().getTime()
    const file = fileImg[i]
    if (file) {
      imagesCol.value.push({
        id: `${i}-${id}`,
        url: uploadFileType(file),
        status: null,
        file: file
      })
    }
  }
}
defineExpose({filesUpload})

// --------------------------Post function--------------------------------------
async function multiplePost() {
  for (let i = 0; i < imagesCol.value.length; i++) {
    const file = imagesCol.value[i].file
    try {
      if (file) {
        const fileSize = (file.size / 1024 / 1024).toFixed(1)
        if (imagesCol.value[i].status !== STATUS.success) {
          if (+fileSize > props.maxSize) {
            imagesCol.value[i].status = STATUS.failed
            isError.value = true
          } else {
            await uploadFile(file)
            imagesCol.value[i].status = STATUS.success
          }
        }
      }
    } catch (e) {
      imagesCol.value[i].status = STATUS.error
    }
  }
}
</script>
<!----------------------------------------------------------------------------------------------->
<template>
  <div class="box_parent">
    <div class="box_wrapper">
      <div v-if="showUploadBox">
        <div class="box" @click="inputRef?.click()">
          <img :src="upload" alt="" class="upload"/>
          <p>CLick to upload or drag and drop SVG, PNG, JPG or GIF</p>
          <h4>Maximum size: {{ maxSize }}MB</h4>
        </div>
        <input :multiple="isMultiple" ref="inputRef" type="file" @change="filesUpload" name="files[]"/>
      </div>
      <p v-if="showMulipleCount" data-test-warning-message class="error_text" >File cannot be downloaded</p>

      <p>Only {{ maxFileCount }} files can be uploaded</p>
      <div class="box_items">
        <div v-for="img in imagesCol" class="card_item">
          <img :src="Icons[img.status!]"
               class="status_img" alt="">
          <span v-if="img.status == STATUS.failed" class="failed">Failed!</span>
          <img :src="img.url" alt="">
          <p v-if="isError" data-test-error></p>
          <button @click="handleDelete(img.id)">Remove</button>
        </div>
      </div>
    </div>
    <button @click="multiplePost" class="save_btn">Save</button>
  </div>
</template>


<!----------------------------------------------------------------------------------------------->
<style scoped>
@import "multiple.css";
</style>
